.env
Lib
Scripts
__pycache__
pyvenv.cfg

article39_backend/form/migrations/*
!article39_backend/form/migrations/__init__.py

article39_backend/artist/migrations/*
!article39_backend/artist/migrations/__init__.py


article39_backend/administrator/migrations/*
!article39_backend/administrator/migrations/__init__.py

media_utilities/client_secret.json
media_utilities/uploaders.py-oauth2.json

venv
