.env
Lib
Scripts
__pycache__
pyvenv.cfg

article39_backend/form/migrations/*
!article39_backend/form/migrations/__init__.py

article39_backend/artist/migrations/*
!article39_backend/artist/migrations/__init__.py


article39_backend/administrator/migrations/*
!article39_backend/administrator/migrations/__init__.py

article39_backend/media_utilities/client_secret.json
article39_backend/media_utilities/youtube_uploader.py-oauth2.json

venv
